/* purgecss start ignore */
@tailwind base;

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap");

body {
  text-rendering: optimizeLegibility !important;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #4a5568 !important;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes goin {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#subtitle,
#description-home,
#error,
#success {
  animation: goin 1s;
}

#section-auth {
  animation: show 1s;
}

/* purgecss end ignore */

@tailwind components;

@tailwind utilities;
